/* mystyle.css*/
html, body {
	height: 100%;
	background: #ffffff;
}

#mapdiv {
	height: 100%;
}
.merriweather {
	font-family: 'Merriweather Sans', sans-serif;
}
.switch-list {
    color: white;  
	background-color: #ffa12d;
}

.switch-list:hover {  
	color:grey;
	background-color: #ffc072;
}
.navbar-brand {
	background-color: #fafafa;
	border-color: #fafafa;
	font-family: 'Merriweather Sans', sans-serif;
	height: auto;
}
.navbar-nav {
	background-color: #f8f8f8;
	border-color: #fafafa;
	font-family: 'Merriweather Sans', sans-serif;
	position: relative;
    top: 15px;
}
 .navbar-brand img {
 	resize: both;
	width: 100%;
}
.navbar-toggle {
	margin-top: 17px;
}
#page4 form {
	margin-left: 20px;
}
#page3 form {
	margin-left: 20px;
}