/* mystyle.css*/

#mapdiv {
	height: 750px;
	/*background-color: #2e2e2e*/
}
#footer {
	height: 60px;
	background-color: #717375;
}
.merriweather {
	font-family: 'Merriweather Sans', sans-serif;
}
.switch-list:hover {  
	color:black;
	background-color: #ffa12d;
}
.navbar-brand {
	background-color: #fff;
	border-color: #fff;
	font-family: 'Merriweather Sans', sans-serif;
}
.navbar-nav {
	background-color: #fff;
	border-color: #fff;
	font-family: 'Merriweather Sans', sans-serif;
}